<div class="container">
  <div class="row gy-5">
    <div class="col-lg-4">
      <div class="footer-content">
        <a href="{{BASE_PATH}}index.html" class="logo d-flex align-items-center mb-4">
          <span class="sitename">DOVI S.A.S.</span>
        </a>
        <p class="mb-4">Empresa dedicada a la prestación de servicios agrícolas, maquinaria pesada y soluciones para el sector industrial, comprometida con la calidad, responsabilidad y eficiencia en cada proyecto.</p>
        <div class="newsletter-form">
          <h5>Recibe noticias</h5>
          <form id="newsletter-form-mock" class="php-email-form">
            <div class="input-group">
              <input type="email" name="email" class="form-control" placeholder="Deja tu correo" required="">
              <button type="submit" class="btn-subscribe text-white border-0 bg-orange">
                <i class="bi bi-send"></i>
              </button>
            </div>
            <div class="sent-message mt-2 display-none" id="newsletter-sent">Gracias por suscribirte localmente.</div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-6">
      <div class="footer-links">
        <h4>Empresa</h4>
        <ul>
          <li><a href="{{BASE_PATH}}index.html"><i class="bi bi-chevron-right"></i> Inicio</a></li>
          <li><a href="{{BASE_PATH}}index.html#about"><i class="bi bi-chevron-right"></i> Información</a></li>
          <li><a href="{{BASE_PATH}}index.html#services"><i class="bi bi-chevron-right"></i> Servicios</a></li>
          <li><a href="{{BASE_PATH}}index.html#portfolio"><i class="bi bi-chevron-right"></i> Maquinaria pesada</a></li>
          <li><a href="{{BASE_PATH}}index.html#contact"><i class="bi bi-chevron-right"></i> Contactar</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-6">
      <div class="footer-links">
        <h4>Ofertas disponibles</h4>
        <ul>
          <li><a href="{{BASE_PATH}}index.html#services"><i class="bi bi-chevron-right"></i> Servicios agrícolas</a></li>
          <li><a href="{{BASE_PATH}}index.html#services"><i class="bi bi-chevron-right"></i> Asesorías agrícolas</a></li>
          <li><a href="{{BASE_PATH}}index.html#portfolio"><i class="bi bi-chevron-right"></i> Maquinaria pesada</a></li>
          <li><a href="{{BASE_PATH}}index.html#portfolio"><i class="bi bi-chevron-right"></i> Transporte</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="footer-contact">
        <h4>Contáctanos fácilmente</h4>
        <div class="contact-item">
          <div class="contact-icon">
            <i class="bi bi-geo-alt"></i>
          </div>
          <div class="contact-info">
            <p>Manzana 3<br>Barrio nuevo, Aguas Blancas<br>San Martín, Cesar</p>
          </div>
        </div>
        <div class="contact-item">
          <div class="contact-icon">
            <i class="bi bi-telephone"></i>
          </div>
          <div class="contact-info">
            <p>+57 304-522-6689</p>
          </div>
        </div>
        <div class="contact-item">
          <div class="contact-icon">
            <i class="bi bi-envelope"></i>
          </div>
          <div class="contact-info">
            <p>sasdovi67@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="copyright">
          <p>© <span>Copyright</span> <strong class="px-1 sitename">DOVI S.A.S.</strong> <span>All Rights Reserved</span></p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-bottom-links">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
          <a href="#">Cookie Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
